# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\lean epam\IMatrixWorker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
